interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api2.openreview.net/groups?id=ICLR.cc%2F2025%2FWorkshop%2FMLMP
  response:
    body:
      string: '{"groups":[{"content":{"submission_id":{"value":"ICLR.cc/2025/Workshop/MLMP/-/Submission"},"pc_submission_revision_id":{"value":"ICLR.cc/2025/Workshop/MLMP/-/PC_Revision"},"meta_invitation_id":{"value":"ICLR.cc/2025/Workshop/MLMP/-/Edit"},"submission_name":{"value":"Submission"},"submission_venue_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Submission"},"withdrawn_venue_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Withdrawn_Submission"},"desk_rejected_venue_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Desk_Rejected_Submission"},"rejected_venue_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Rejected_Submission"},"public_submissions":{"value":false},"commitments_venue":{"value":false},"public_withdrawn_submissions":{"value":false},"public_desk_rejected_submissions":{"value":false},"submission_email_template":{"value":"Your
        submission to {{Abbreviated_Venue_Name}} has been {{action}}.\n\nSubmission
        Number: {{note_number}} \n\nTitle: {{note_title}} {{note_abstract}} \n\nTo
        view your submission, click here: https://openreview.net/forum?id={{note_forum}}"},"submission_email_pcs":{"value":false},"title":{"value":"ICLR
        2025 Workshop on Machine Learning Multiscale Processes"},"subtitle":{"value":"ICLR
        2025 Workshop MLMP"},"website":{"value":"https://multiscale-ai.github.io/"},"contact":{"value":"multiscale-ai-orgs@googlegroups.com"},"message_sender":{"value":{"fromName":"ICLR
        2025 Workshop MLMP","fromEmail":"iclr2025workshopmlmp-notifications@openreview.net"}},"location":{"value":"Singapore"},"instructions":{"value":""},"start_date":{"value":"Jan
        11 2025"},"date":{"value":"Submission Start: Jan 13 2025 12:00PM UTC-0, Submission
        Deadline: Feb 26 2025 10:00AM UTC-0"},"program_chairs_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Program_Chairs"},"reviewers_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Reviewers"},"reviewers_name":{"value":"Reviewers"},"reviewers_anon_name":{"value":"Reviewer_"},"reviewers_submitted_name":{"value":"Submitted"},"reviewers_custom_max_papers_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Reviewers/-/Custom_Max_Papers"},"reviewers_affinity_score_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Reviewers/-/Affinity_Score"},"reviewers_conflict_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Reviewers/-/Conflict"},"reviewers_assignment_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Reviewers/-/Assignment"},"reviewers_invite_assignment_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Reviewers/-/Invite_Assignment"},"reviewers_proposed_assignment_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Reviewers/-/Proposed_Assignment"},"reviewers_recruitment_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Reviewers/-/Recruitment"},"authors_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Authors"},"authors_accepted_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Authors/Accepted"},"authors_name":{"value":"Authors"},"withdrawn_submission_id":{"value":"ICLR.cc/2025/Workshop/MLMP/-/Withdrawn_Submission"},"withdraw_expiration_id":{"value":"ICLR.cc/2025/Workshop/MLMP/-/Withdraw_Expiration"},"withdraw_reversion_id":{"value":"ICLR.cc/2025/Workshop/MLMP/-/Withdrawal_Reversion"},"withdraw_committee":{"value":["ICLR.cc/2025/Workshop/MLMP/Program_Chairs","ICLR.cc/2025/Workshop/MLMP/Submission{number}/Area_Chairs","ICLR.cc/2025/Workshop/MLMP/Submission{number}/Reviewers","ICLR.cc/2025/Workshop/MLMP/Submission{number}/Authors"]},"withdrawal_name":{"value":"Withdrawal"},"withdrawal_email_pcs":{"value":false},"withdrawn_submission_reveal_authors":{"value":false},"desk_rejected_submission_id":{"value":"ICLR.cc/2025/Workshop/MLMP/-/Desk_Rejected_Submission"},"desk_reject_expiration_id":{"value":"ICLR.cc/2025/Workshop/MLMP/-/Desk_Reject_Expiration"},"desk_rejection_reversion_id":{"value":"ICLR.cc/2025/Workshop/MLMP/-/Desk_Rejection_Reversion"},"desk_reject_committee":{"value":["ICLR.cc/2025/Workshop/MLMP/Program_Chairs","ICLR.cc/2025/Workshop/MLMP/Submission{number}/Area_Chairs","ICLR.cc/2025/Workshop/MLMP/Submission{number}/Reviewers","ICLR.cc/2025/Workshop/MLMP/Submission{number}/Authors"]},"desk_rejection_name":{"value":"Desk_Rejection"},"desk_rejection_email_pcs":{"value":false},"desk_rejected_submission_reveal_authors":{"value":false},"deletion_expiration_id":{"value":"ICLR.cc/2025/Workshop/MLMP/-/Deletion_Expiration"},"automatic_reviewer_assignment":{"value":false},"reviewers_message_submission_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Submission{number}/-/Message"},"reviewers_message_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Reviewers/-/Message"},"area_chairs_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Area_Chairs"},"area_chairs_name":{"value":"Area_Chairs"},"area_chairs_anon_name":{"value":"Area_Chair_"},"area_chairs_custom_max_papers_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Area_Chairs/-/Custom_Max_Papers"},"area_chairs_affinity_score_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Area_Chairs/-/Affinity_Score"},"area_chairs_conflict_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Area_Chairs/-/Conflict"},"area_chairs_recruitment_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Area_Chairs/-/Recruitment"},"area_chairs_assignment_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Area_Chairs/-/Assignment"},"area_chairs_message_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Area_Chairs/-/Message"},"area_chairs_message_submission_id":{"value":"ICLR.cc/2025/Workshop/MLMP/Submission{number}/Area_Chairs/-/Message"},"review_name":{"value":"Official_Review"},"review_rating":{"value":"rating"},"review_confidence":{"value":"confidence"},"review_email_pcs":{"value":false},"meta_review_recommendation":{"value":"recommendation"},"meta_review_name":{"value":"Meta_Review"},"decision_name":{"value":"Decision"},"decision_email_authors":{"value":false},"decision_field_name":{"value":"decision"},"accept_decision_options":{"value":""},"submission_revision_accepted":{"value":true},"request_form_id":{"value":"swMhnLdKOT"},"comment_mandatory_readers":{"value":["ICLR.cc/2025/Workshop/MLMP/Program_Chairs"]},"comment_email_pcs":{"value":false},"comment_email_sacs":{"value":false},"reviewers_conflict_policy":{"value":"Default"},"area_chairs_conflict_policy":{"value":"Default"},"area_chairs_conflict_n_years":{"value":5},"decision_heading_map":{"value":{"ICLR
        2025 Workshop MLMP Oral":"Accept (Oral)","ICLR 2025 Workshop MLMP Poster":"Accept
        (Poster)","Submitted to ICLR 2025 Workshop MLMP":"Reject"}},"direct_comment_email_pcs":{"value":false},"rebuttal_name":{"value":"Rebuttal"},"reviewer_roles":{"value":["Reviewers"]},"article_endorsement_id":{"value":"ICLR.cc/2025/Workshop/MLMP/-/Article_Endorsement"},"area_chair_roles":{"value":["Area_Chairs"]}},"id":"ICLR.cc/2025/Workshop/MLMP","members":["ICLR.cc/2025/Workshop/MLMP/Program_Chairs"],"signatures":["~Super_User1"],"signatories":["ICLR.cc/2025/Workshop/MLMP"],"nonreaders":[],"readers":["everyone"],"writers":["ICLR.cc/2025/Workshop/MLMP"],"invitations":["OpenReview.net/-/Edit","ICLR.cc/2025/Workshop/MLMP/-/Edit"],"domain":"ICLR.cc/2025/Workshop/MLMP","parent":"ICLR.cc/2025/Workshop","tcdate":1736531097018,"cdate":1736531097018,"tmdate":1759825079164,"mdate":1759825079164,"web":"//
        Webfield component\nconst tabs = [{\n  name: ''Your Consoles'',\n  type: ''consoles''\n}]\n\nconst
        decisionHeadingMap = domain.content.decision_heading_map?.value\n\nif (decisionHeadingMap)
        {\n  for (const [venue, tabName] of Object.entries(decisionHeadingMap)) {\n    tabs.push({\n      name:tabName,\n      query:
        {\n        ''content.venue'': venue,\n        ''invitation'': domain.content.submission_id?.value\n      },\n      options:
        {\n        hideW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api2.openreview.net/notes?invitation=ICLR.cc%2F2025%2FWorkshop%2FMLMP%2F-%2FSubmission&stream=true
  response:
    body:
      string: "{\"notes\":[{\"content\":{\"title\":{\"value\":\"DoMiNO: Down-scaling
        Molecular Dynamics with Neural Graph Ordinary Differential Equations\"},\"authors\":{\"value\":[\"Fang
        Sun\",\"Zijie Huang\",\"Yadi Cao\",\"Xiao Luo\",\"Wei Wang\",\"Yizhou Sun\"]},\"authorids\":{\"value\":[\"~Fang_Sun3\",\"~Zijie_Huang1\",\"~Yadi_Cao1\",\"~Xiao_Luo3\",\"~Wei_Wang13\",\"~Yizhou_Sun1\"]},\"Track\":{\"value\":\"New
        scientific result\"},\"keywords\":{\"value\":[\"Multi-scale Modeling; Molecular
        Dynamics; Neural ODE\"]},\"abstract\":{\"value\":\"Molecular dynamics (MD)
        simulations are crucial for understanding and predicting the behavior of molecular
        systems in biology and chemistry. However, their wide adoption is hindered
        by two main challenges: (1) computational cost, because fine-grained simulations
        often require millions of small timesteps, and (2) lack of flexibility, as
        existing machine-learning-based surrogates typically operate at either a single
        small or single large[...]
