interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api2.openreview.net/profiles?id=~Nora_Belrose1
  response:
    body:
      string: '{"profiles": [{"id": "~Nora_Belrose1", "invitation": "~/-/profiles",
        "active": true, "content": {"homepage": "https://twitter.com/norabelrose",
        "gscholar": "https://scholar.google.com/citations?user=p_oBc64AAAAJ", "dblp":
        "https://dblp.org/pid/332/2248", "history": [{"position": "Researcher", "start":
        2022, "end": null, "institution": {"domain": "eleuther.ai", "name": "EleutherAI",
        "country": "US"}}, {"position": "Researcher", "start": 2022, "end": 2022,
        "institution": {"domain": "far.ai", "name": "FAR AI"}}, {"position": "PhD
        student", "start": 2020, "end": 2021, "institution": {"domain": "ucsd.edu",
        "name": "University of California, San Diego"}}], "expertise": [{"keywords":
        ["language models", "interpretability", "adversarial robustness"], "start":
        2022, "end": null}]}, "tcdate": 1664298291772, "tmdate": 1765471933507, "tauthor":
        "OpenReview.net", "state": "Active Institutional"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7e4-n4/eDP//aP2vnhN354OquqvjfdY"
      ratelimit-limit:
      - '20'
      ratelimit-policy:
      - 20;w=60
      ratelimit-remaining:
      - '19'
      ratelimit-reset:
      - '60'
      surrogate-control:
      - no-store
      x-ratelimit-limit:
      - '20'
      x-ratelimit-remaining:
      - '19'
      x-ratelimit-reset:
      - '1780428888'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api2.openreview.net/profiles?id=~Yoshua_Bengio1
  response:
    body:
      string: '{"profiles": [{"active": true, "tmdate": 1773862878479, "tcdate": 1473703013000,
        "id": "~Yoshua_Bengio1", "invitation": "~/-/profiles", "tauthor": "OpenReview.net",
        "content": {"homepage": "http://yoshuabengio.org", "dblp": "https://dblp.org/pid/56/953",
        "gscholar": "https://scholar.google.com/citations?user=kukA0LcAAAAJ&hl=fr&oi=ao",
        "history": [{"position": "Full Professor", "start": 1993, "end": null, "institution":
        {"domain": "umontreal.ca", "name": "University of Montreal", "country": "CA",
        "stateProvince": "Quebec", "city": "Montreal", "department": "computer science
        and operations research"}}], "expertise": [{"keywords": ["Deep Learning"],
        "start": null, "end": null}, {"keywords": ["AI safety"], "start": null, "end":
        null}, {"keywords": ["Probabilistic machine learning"], "start": null, "end":
        null}]}, "state": "Active Institutional"}], "fromCache": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2ac3-p9o4ov+FNcG3wB6oRJZUdJHIFtc"
      ratelimit-limit:
      - '20'
      ratelimit-policy:
      - 20;w=60
      ratelimit-remaining:
      - '18'
      ratelimit-reset:
      - '60'
      surrogate-control:
      - no-store
      x-ratelimit-limit:
      - '20'
      x-ratelimit-remaining:
      - '18'
      x-ratelimit-reset:
      - '1780428888'
    status:
      code: 200
      message: OK
version: 1
